@import "bootstrap";


.title {
	font-weight: normal;
	font-style: italic;
	text-align: center;
}
body {


	header {
		background-image: url("../images/header-bg.png");
		background-size: cover;
		background-repeat: no-repeat;




			.navbar-nav {
				li {
					a {
						color: #ffffff;
						padding-left: 25px;
				    padding-right: 25px;

					}
				}
			}
			.wrapper {
				text-align: center;
				color: #ffffff;
				clear: both;
				div:nth-of-type(1) {
					padding-top: 120px;
				}
			  .shop-now {
				 border: 2px solid #fff;
				 border-radius: 3px;
				 color: #fff;
				 padding: 6px 30px;
				 display: inline-block;
				 margin-top: 50px;
				 font-size: 12px;
				 font-weight: bold;
				 font-family: "Open Sans";
			  }
			  .multiple-pages {
				  list-style-type: none;
				  margin-top: 100px;
				  li {
					  margin: 0 3px;
					  display: inline-block;
					  .dots {
						 border-radius: 5px;
						 border: 1px solid #fff;
						 display: inline-block;
						 width: 7px;
						 height: 7px;
						 background-color: #fff;
					  }
					 .active {
						 background-color: transparent;
					 }
				  }
			  }
			}

	}
	.latest-products {

			.row {
				div {
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
			.product-1, .product-2, .product-3 {
				position: relative;
				height: 260px;
				.view-products {
					color: #fff;
					position: absolute;
					top: 40%;
					left: 40%;
					width: 130px;
					font-style: italic;
					font-size: 18px;

				}
			}
			.product-1, .product-2, .product-3 {

				outline: 1px solid white;
 				outline-offset: -15px;

			}

			.product-4, .product-5 {
				height: 260px;
			}
			.product-1 {
				background-image: url("../images/men.png");
			}
			.product-2 {
				background-image: url("../images/women.png");
			}
			.product-3 {
				background-image: url("../images/watches.png");
			}
			.product-4 {
				background-image: url("../images/autumn.png");
			}
			.product-5 {
				background-image: url("../images/mega-sale.png");
			}

	}
	.trending-items {
		background-image: url("../images/trending-bg.png");
		background-size: cover;


			.jacket {
				background-image: url("../images/jacket.png");
				height: 300px;
			}



				h4 {
					text-transform: uppercase;
					color: #dc0000;
				}
				div, p {
					color: #777777;
				}
				.line {
					border: 1px solid black;
					width: 30px;
					display: inline-block;
				}

			&:after {
				clear: both;
				content: " ";
				display: block;
			}
		}

}
